*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 17px;
}

.item_cursor:hover {
    cursor: pointer;
}

.item_hover:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.item_chat--hover:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.app {
    position: relative;
    background: linear-gradient(to bottom, #363535 -300px, #ffffff 60vh);
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.navbar {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.navbar__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.navbar__head--logo {
    font-size: 52px;
    padding-right: 8px;
    color: blueviolet;
}

.navbar__head--search {
    border: 1px solid rgb(224, 219, 219);
    padding: 14px;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgba(224, 219, 219, 0.516) ;
    color: rgb(35 35 35);
}

.navbar__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar__body--home {
    font-weight: 700;
    font-size: 30px;
    padding-right: 140px;
    color: rgb(108 97 97);
}

.navbar__body--play {
    font-size: 36px;
    padding-right: 140px;
    color: rgb(108 97 97);

}

.navbar__body--shop {
    font-size: 30px;
    padding-right: 140px;
    color: rgb(108 97 97);

}

.navbar__body--user {
    font-size: 24px;
    border: 2px solid rgb(202, 196, 196);
    padding: 6px 4px;
    border-radius: 50%;
    color: rgb(108 97 97);
}




.navbar__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar__footer::before {
    top: 6px;
    right: 0px;
    content: " ";
    padding: 5px;
    border: 2px solid white;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    background-color: #e72c2c;
}

.navbar__footer--grid {
    margin-right: 10px;
    border: 1px solid rgb(224, 219, 219);
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 25px;
    background-color: rgba(224, 219, 219, 0.516) ;
    color: rgb(35 35 35);
}

.navbar__footer--mess {
    margin-right: 10px;
    border: 1px solid rgb(224, 219, 219);
    padding: 10px ;
    border-radius: 50%;
    font-size: 25px;
    background-color: rgba(224, 219, 219, 0.516) ;
    color: rgb(35 35 35);
}

.navbar__footer--bell {
    margin-right: 10px;
    border: 1px solid rgb(224, 219, 219);
    padding: 10px 11px ;
    border-radius: 50%;
    font-size: 25px;
    background-color: rgba(224, 219, 219, 0.516) ;
    color: rgb(35 35 35);
}

.navbar__footer--avt {
    margin-top: 6px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 52px;
}





.background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background__img {
    width: 80%;
    height: 500px;
    object-fit:fill ;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.container {
    position: relative;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
}

.container__content {
    display: flex;
}

.container__content--avt img {
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    top: -40px;
}

.container__content--group {
    padding-top: 45px;
    padding-left: 240px;
}

.container__content--group h2 {
    font-size: 30px;
    padding-bottom: 4px;
}

.container__content--group p {
    font-size: 20px;
    color: rgb(115, 113, 113);
    font-weight: 600;
    padding-bottom: 15px;
}

.container__content--group img {
    width: 300px;
}

.container__btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container__btn--friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    border: 1px solid rgb(204 199 199 / 67%);
    background-color: rgb(204 199 199 / 67%);
    padding: 6px 10px;
    border-radius: 5px;
}

.container__btn--friend i {
    padding-right: 10px ;
}

.container__btn--mess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    border: 1px solid rgb(113, 47, 164);
    background-color: rgb(113, 47, 164);
    padding: 6px 10px;
    border-radius: 5px;
    
}

.container__btn--mess i {
    padding-right: 10px ;
    color: white;
}

.container__btn--mess p {
    color: white;
}


/* CHAT */
.chat {
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.chat__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_item {
    margin-bottom: 10px;
    position: relative;
}



.chat_item--menu {
    font-weight: 700;
    font-size: 27px;
    padding: 17px 19px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}



.chat_item img {
    position: relative;
    object-fit: contain;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.chat_item--work::before {
    top: 121px;
    right: 4px;
    content: " ";
    padding: 5px;
    border: 2px solid white;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    background-color: #e72c2c;
}


 .chat_item--update {
    font-size: 27px;
    padding: 16px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
} 



.chat_dialog--box { 
    z-index: 4;
    right: 85px;
    top: 48px;
    position: absolute;
    width: 136px;
    height: 95px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 35%) 5px 7px 16px;
}

.chat_dialog--box::before {
    display: block;
    z-index: 1;
    top: 45px;
    right: -36px;
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}


.chat_dialog--content {
    padding: 16px;
}

.chat_dialog--content h2 {
    padding-bottom: 16px;
}


 







